.filterForm {
  max-width: 520px;
  border: 1px solid;
  padding: 25px;
  margin: 20px auto;
  text-align: center;
}

.filterEl {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.filterTitle {
  font-size: 16px;
}
